*{
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    flex-wrap: wrap;
    row-gap: 5px;
}


#header1{

    font-size: 40px;
    font-weight:800;   
}

#header2{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
}

#child-1{
    font-size:17px ;
    font-weight: bold;
}

#child-2{
    border: none;
    font-size: 13px;
}

#header3>input{
    width: 350px;
    height: 40px;
    border:1px solid #bbb;
    border-radius: 10px;
    background-image: url('search.png');
    background-position: center left;
    background-size: 30px;
    background-repeat: no-repeat;
    
    padding-left: 30px;
    
}

#header4>button{
    font-size:20px;
    border: none;
    background-color: white;
}

#header5{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 90px;
    height: 40px;
    background-image:url(shopping-cart.png);
    background-position: center left;
    background-size: 25px;
    background-repeat: no-repeat;
    padding-right: 21px;
    border-radius: 10px;
    background-color: rgb(255, 255, 249);
    border: 1px solid #bbb;
    cursor: pointer;
    
}
#header5>button{
        border: none;
        font-size: 16px;
        background-color: initial;
}
#first{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#second{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 5px;
    overflow-x: scroll;
    column-gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
#second>img{
    width: 140px;
}
#third{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#third>span{
    font-size: 19px;
    font-family: sans-serif;
    color: rgb(48, 197, 48);
}

#fourth{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 5px;
    overflow-x: scroll;
    column-gap: 10px;
}

#fourth-1{
    border: 1px solid #bbb;
    padding: 10px;
    box-shadow: 8px 8px 8px #bbb;
}

#fourth-child-2>button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 202, 167);
    color: green;
    border: 0.5px solid rgb(145, 185, 145);
    width: 50px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#fourth-child-1{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

#fourth-child-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fifth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#fifth>span{
    font-size: 19px;
    font-family: sans-serif;
    color: rgb(48, 197, 48);
}

#sixth{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 5px;
    overflow-x: scroll;
    column-gap: 10px;
}

#sixth-1{
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#sixth1{
    border: 1px solid #bbb;
    padding: 10px;
    box-shadow: 8px 8px 8px #bbb;
}

#sixth-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sixth-2>button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 202, 167);
    color: green;
    border: 0.5px solid rgb(145, 185, 145);
    width: 50px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#seventh{
    display: flex;
      align-items: center;
      column-gap: 450px;
      padding-left: 50px;
      flex-wrap: wrap;
}
#seventh1{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

footer{
    padding: 50px;
}

#seventh2 {
   display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
    row-gap: 15px;
}
#seventh2 a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
}

#link{
    display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   row-gap: 20px;
}

#seventh3{
     display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
    row-gap: 15px;
}
#seventh3 a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
}
#seventh4{
     display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
    row-gap: 15px;
}
#seventh4 a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
}
#seventh5{
     display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
    row-gap: 15px;
}
#seventh5 a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
}

#seventh6{
     display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
    row-gap: 15px;
}
#seventh6 a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
}

#seventh7{
     display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
    row-gap: 15px;
}
#seventh7 a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    color: #9a8f8f;
}